In [1]:
from greatschools_class import GreatSchools

In [52]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import json

In [3]:
gs = GreatSchools('Seattle', 'WA')

In [3]:
gs.get_data()

In [4]:
gs.add_hood()

In [7]:
d = [school for school in gs.gs_collection.find()]

u'/Users/evansadler/Desktop/Project Files/data collection'

In [68]:

highschools = {'Ingraham': ['Broadview','Bitter Lake', 'Haller Lake','Blue Ridge','Pinehurst', 'North Beach', 'Olympic Manor', 'Crown Hill', 'Greenwood'], 
'Ballard High School': ['Sunset Hill', 'Loyal Heights', 'Whittier Heights', 'Phinney Ridge', 'Ballard', 'Interbay', 'Magnolia', 'Queene Anne','Freemont', 'Lower Queene Anne', 'Westlake'],
'Nathan Hale High School': ['Olympic Hill', 'Cedar Park', 'Northgate', 'Maple Leaf', 'Victory Heights', 'Meadowbrook', 'Mathews Beach', 'Wedgewood'],

'Roosevelt High School': ['View Ridge', 'Sand Point','Roosevelt','Ravenna','Bryant', 'Hawthorne Hills', 'Windermere', 'Laurelhurst', 'University District', 'Wallingford', 'Green Lake'],

'Garfield High School': ['Portage Bay','Eastlake','Montlake', 'Capitol Hill', 'Broadmoor', 'Madison Park', 'Denny-Blaine', 'Madison Valley','South Lake Union', 'Belltown','Downtown', 'Pioneer Square', 'Internation District', 'Madrona', 'Leschi', 'Atlantic'],

'Franklin High School': ['Industrial District', 'Beacon Hill', 'Mount Baker', 'Columbia City'],
'Rainier Beach High School': ['Georgetown', 'Rainier Beach'],
'West Seattle High School': ['Alki', 'Admiral', 'West Seattle', 'North Delridge', 'Riverview'],
'Chief Sealth High School': ['High Point', 'Fauntleroy', 'Arbor Heights', 'Roxhill', 'Highland Park', 'South Park']}

middleschools = {'Whitman': ['Sunset Hill', 'Loyal Heights','Broadview','Bitter Lake', 'Haller Lake','Blue Ridge','Pinehurst', 'North Beach', 'Olympic Manor', 'Crown Hill', 'Greenwood'], 
'Hamilton Middle School': ['Phinney Ridge', 'Ballard', 'Freemont', 'Wallingford'],
'Mclure Middle School': ['Interbay', 'Magnolia', 'Queene Anne','Lower Queene Anne', 'Westlake','Belltown', 'Downtown', 'South Lake Union'],
'Eckstein Middle School': ['Maple Leaf','Wedgewood','View Ridge', 'Sand Point','Roosevelt','Ravenna','Bryant', 'Hawthorne Hills', 'Windermere', 'Laurelhurst', 'University District', 'Green Lake'],
'Jane Addams Middle School': ['Olympic Hill', 'Cedar Park', 'Northgate',  'Victory Heights', 'Meadowbrook', 'Mathews Beach'],
'Madison Middle School': ['Alki', 'Admiral', 'West Seattle', 'North Delridge', 'Riverview'],
'Denny Middle School': ['High Point', 'Fauntleroy', 'Arbor Heights', 'Roxhill', 'Highland Park', 'South Park'],
'Washington Middle School': ['Portage Bay','Eastlake','Montlake', 'Capitol Hill', 'Broadmoor', 'Madison Park', 'Denny-Blaine', 'Madison Valley', 'Pioneer Square', 'Internation District', 'Madrona', 'Leschi', 'Atlantic', 'Mount Baker'],
'Mercer Middle School': ['Beacon Hill', 'Columbia City', 'Georgetown', 'Industrial District'],
'Aki Kurose Middle School': ['Rainier Beach', 'Seward Park', 'Brighton']}

In [69]:
high_dic = {'hood': [], 'high': []}
for key, val in highschools.iteritems():
    for v in val:
        high_dic['hood'].append(v)
        high_dic['high'].append(key)

In [70]:
middle_dic = {'hood': [], 'middle': []}
for key, val in middleschools.iteritems():
    for v in val:
        middle_dic['hood'].append(v)
        middle_dic['middle'].append(key)

In [71]:
df = pd.DataFrame(middle_dic)
df_m = pd.DataFrame(high_dic)
df_s = df.merge(df_m, on = 'hood')

In [282]:
df_gs = pd.DataFrame(d)

In [77]:
dff = df_gs.ix[(df_gs['type'] == 'public'),['gsRating','parRating','name']].replace('NA', np.nan).dropna()

In [86]:
df_temp = df_s.merge(dff, left_on = 'high', right_on = 'name', how = 'left')
df_temp = df_temp.merge(dff, left_on = 'middle', right_on = 'name', how = 'left', suffixes = ('_high','_middle'))

In [124]:
dcc.sort('name')

,gsRating,parRating,name,hood
97,7,5,Adams Elementary School,Ballard
109,6,4,Arbor Heights Elementary School,Arbor Heights
111,6,5,B F Day Elementary School,Fremont
87,8,5,Beacon Hill Elementary School,Beacon Hill
58,10,4,Bryant Elementary School,Ravenna
130,4,3,Bryn Mawr Elementary School,NaN
142,3,4,Campbell Hill Elementary School,NaN
83,9,4,Catharine Blaine K-8,Magnolia
59,10,5,Coe Elementary School,Queen Anne
74,9,5,Daniel Bagley Elementary School,Green Lake
131,4,4,Dearborn Park Elementary School,Beacon Hill
153,2,3,Emerson Elementary School,Rainier Beach
114,6,4,Gatewood Elementary School,West Seattle
61,10,4,Hay Elementary School,Queen Anne
125,5,5,John Muir Elementary School,Mount Baker
101,7,4,John Rogers Elementary School,Matthews Beach
62,10,4,John Stanford International Elementary School,Wallingford
112,6,4,Kimball Elementary School,Beacon Hill
78,9,3,Lafayette Elementary School,Admiral
120,5,3,Lakeridge Elementary School,NaN
63,10,4,Laurelhurst Elementary School,Laurelhurst
64,10,4,Lawton Elementary School,Magnolia
145,3,5,Leschi Elementary School,Leschi
65,10,5,Loyal Heights Elementary School,Loyal Heights
79,9,5,Maple Elementary School,Beacon Hill
85,9,5,Mc Donald Elementary School,Wallingford
91,8,4,McGilvra Elementary School,Madison Park
66,10,4,Montlake Elementary School,Montlake
67,10,4,North Beach Elementary School,Olympic Manor
102,7,5,Olympic View Elementary School,Maple Leaf
137,4,4,Orca (Columbia),Columbia City
95,8,4,Pathfinder K-8,West Seattle
86,9,3,Queen Anne Elementary School,Queen Anne
82,9,4,Sacajawea Elementary School,Maple Leaf
84,9,4,Salmon Bay School,Loyal Heights
118,6,5,Sand Point Elementary School,Windermere
147,3,5,Sanislo Elementary School,Riverview
93,8,4,Schmitz Park Elementary School,Admiral
127,5,4,Stevens Elementary School,Capitol Hill
136,4,3,Van Asselt Elementary School,Beacon Hill
148,3,4,Viewlands Elementary School,Broadview
69,10,4,Wedgwood Elementary School,Wedgwood
70,10,4,West Woodland Elementary School,Ballard
71,10,4,Whittier Elementary School,Whittier Heights
94,8,5,Wing Luke Elementary School,Beacon Hill

In [104]:
dcc = df_gs.ix[(df_gs['type'] == 'public') & (df_gs['gradeRange'].isin(['K-5','K-8'])),['gsRating','parRating','name','hood']].replace('NA', np.nan)

In [113]:
df_f = df_temp.merge(dcc, on = 'hood', how ='left')

In [328]:
df_f[77:]

,hood,middle,high,gsRating_high,parRating_high,name_high,gsRating_middle,parRating_middle,name_middle,gsRating,parRating,name
77,Bryant,Eckstein Middle School,Roosevelt High School,9,4,Roosevelt High School,9,3,Eckstein Middle School,10,4,Bryant Elementary School
78,Hawthorne Hills,Eckstein Middle School,Roosevelt High School,9,4,Roosevelt High School,9,3,Eckstein Middle School,6,5,Sand Point Elementary School
79,Windermere,Eckstein Middle School,Roosevelt High School,9,4,Roosevelt High School,9,3,Eckstein Middle School,6,5,Sand Point Elementary School
80,Laurelhurst,Eckstein Middle School,Roosevelt High School,9,4,Roosevelt High School,9,3,Eckstein Middle School,10,4,Laurelhurst Elementary School
81,University District,Eckstein Middle School,Roosevelt High School,9,4,Roosevelt High School,9,3,Eckstein Middle School,10,4,Laurelhurst Elementary School
82,Green Lake,Eckstein Middle School,Roosevelt High School,9,4,Roosevelt High School,9,3,Eckstein Middle School,9,5,Daniel Bagley Elementary School

In [327]:
fill_elem('University District', 'Laurelhurst Elementary School')

In [311]:
def fill_elem(name, school):
    rating = df_gs.ix[df_gs['name'] == school , 'gsRating']
    par_rating = df_gs.ix[df_gs['name'] == school , 'parRating']
    df_f.ix[df_f['hood'] == name, 'name'] = school
    df_f.ix[df_f['hood'] == name, 'gsRating'] = int(rating)
    df_f.ix[df_f['hood'] == name, 'parRating'] = int(par_rating)

In [199]:
def fill_mid(name, school):
    rating = df_gs.ix[df_gs['name'] == school , 'gsRating']
    par_rating = df_gs.ix[df_gs['name'] == school , 'parRating']
    df_f.ix[df_f['hood'] == name, 'middle'] = school
    df_f.ix[df_f['hood'] == name, 'name_middle'] = school
    df_f.ix[df_f['hood'] == name, 'gsRating_middle'] = int(rating)
    df_f.ix[df_f['hood'] == name, 'parRating_middle'] = int(par_rating)

In [203]:
def fill_high(name, school):
    rating = df_gs.ix[df_gs['name'] == school , 'gsRating']
    par_rating = df_gs.ix[df_gs['name'] == school , 'parRating']
    df_f.ix[df_f['hood'] == name, 'high'] = school
    df_f.ix[df_f['hood'] == name, 'name_high'] = school
    df_f.ix[df_f['hood'] == name, 'gsRating_high'] = int(rating)
    df_f.ix[df_f['hood'] == name, 'parRating_high'] = int(par_rating)

In [195]:
fill_mid('Sunset Hill', 'Whitman Middle School')

In [248]:
for h in df_f.ix[df_f['middle'] == 'McClure Middle School', 'hood']:
    fill_mid(h, 'Mcclure Middle School' )

In [329]:
df_tt = df_f

In [205]:
for h in df_f.ix[df_f['high'] == 'Ingraham', 'hood']:
    fill_high(h, 'Ingraham High School' )

In [309]:
name = 'Madrona'
df_f.ix[df_f['hood'] == name, 'name'] = 'Madrona Elementary School'
df_f.ix[df_f['hood'] == name, 'gsRating'] = 2
df_f.ix[df_f['hood'] == name, 'parRating'] = 3

In [317]:
df_f.ix[df_f['hood'] == 'Wedgewood', 'hood'] = 'Wedgwood'

In [332]:
df_f.to_csv('school_data.csv', index = False)

In [319]:
df = pd.read_csv('school_data.csv')

In [320]:
df = df.groupby('hood').mean()

In [324]:
df

,gsRating_high,parRating_high,gsRating_middle,parRating_middle,gsRating,parRating
hood,,,,,,
Admiral,7,4,8,4,8.5,3.500000
Alki,7,4,8,4,7.0,4.000000
Arbor Heights,5,3,6,3,6.0,4.000000
Atlantic,6,4,7,4,10.0,5.000000
Ballard,9,4,10,3,8.5,4.500000
Beacon Hill,7,4,9,4,6.5,4.333333
Belltown,6,4,8,3,4.0,4.000000
Bitter Lake,6,4,7,3,6.0,3.000000
Blue Ridge,6,4,7,3,10.0,4.000000
Broadmoor,6,4,7,4,8.0,4.000000
Broadview,6,4,7,3,3.0,4.000000
Bryant,9,4,9,3,10.0,4.000000
Capitol Hill,6,4,7,4,5.0,4.000000
Cedar Park,9,4,8,5,7.0,4.000000
Columbia City,7,4,9,4,4.0,4.000000
Crown Hill,6,4,7,3,3.0,4.000000
Denny-Blaine,6,4,7,4,8.0,4.000000
Downtown,6,4,8,3,4.0,4.000000
Eastlake,6,4,7,4,10.0,4.000000
Fauntleroy,5,3,6,3,6.0,4.000000
Freemont,9,4,10,3,6.0,5.000000
Georgetown,4,3,9,4,4.0,3.000000
Green Lake,9,4,9,3,9.0,5.000000
Greenwood,6,4,7,3,8.0,5.000000
Haller Lake,6,4,7,3,3.0,4.000000
Hawthorne Hills,9,4,9,3,6.0,5.000000
High Point,5,3,6,3,5.0,5.000000
Highland Park,5,3,6,3,3.0,3.000000
Industrial District,7,4,9,4,8.0,5.000000
Interbay,9,4,8,3,10.0,4.000000
...,...,...,...,...,...,...
Meadowbrook,9,4,8,5,7.0,4.000000
Montlake,6,4,7,4,10.0,4.000000
Mount Baker,7,4,7,4,5.0,5.000000
North Beach,6,4,7,3,10.0,5.000000
North Delridge,7,4,8,4,8.0,4.000000
Northgate,9,4,8,5,3.0,4.000000
Olympic Hill,9,4,8,5,5.0,4.000000
Olympic Manor,6,4,7,3,10.0,4.000000
Phinney Ridge,9,4,10,3,10.0,4.000000
Pinehurst,6,4,7,3,7.0,5.000000
Pioneer Square,6,4,7,4,4.0,4.000000
Portage Bay,6,4,7,4,10.0,4.000000
Queene Anne,9,4,8,3,10.0,5.000000
Rainier Beach,4,3,4,4,2.0,3.000000
Ravenna,9,4,9,3,10.0,4.000000
Riverview,7,4,8,4,3.0,5.000000
Roosevelt,9,4,9,3,9.0,4.000000
Roxhill,5,3,6,3,2.0,4.000000
Sand Point,9,4,9,3,6.0,5.000000
South Lake Union,6,4,8,3,4.0,4.000000
South Park,5,3,6,3,5.0,3.000000
Sunset Hill,9,4,7,3,7.0,5.000000
University District,9,4,9,3,10.0,4.000000
Victory Heights,9,4,8,5,9.0,4.000000
View Ridge,9,4,9,3,10.0,4.000000
Wallingford,9,4,10,3,9.5,4.500000
Wedgwood,9,4,9,3,10.0,4.000000
West Seattle,7,4,8,4,7.0,4.000000
Westlake,9,4,8,3,10.0,4.000000
Windermere,9,4,9,3,6.0,5.000000

In [288]:
client = MongoClient()
db = client['neighborhood_recommender']
collection = db['hood_data' + '_' + 'Seattle' + '_' + 'WA']

hood_zillow = [hood for hood in collection.find()]
df_z = pd.DataFrame(hood_zillow)
df_z = df_z.replace('', np.nan)
df_z = df_z.convert_objects(convert_numeric=True)

In [53]:
with open('Seattle.json', 'r') as f:
    js = json.load(f)

In [211]:
geo_names = []
for geo in js['features']:
    geo_names.append([geo['properties']['NAME'],geo['properties']['REGIONID']])

In [212]:
df_g = pd.DataFrame(geo_names, columns =['name', 'id'])

In [289]:
x = df_z.ix[df_z['name'].isin(['East Queen Anne','West Queen Anne', 'North Queen Anne']), :].mean()
x['name'] = 'Queen Anne'
x['state'] = 'Washington'
x['city'] = 'Seattle'
x['url'] = 'notexists'
x['_id'] = 99999999999
x['id'] = 271942
df_z = df_z.append(x,ignore_index=True)

In [290]:
x = df_z.ix[df_z['name'].isin(['Seaview','Junction']), :].mean()
x['name'] = 'West Seattle'
x['state'] = 'Washington'
x['city'] = 'Seattle'
x['url'] = 'notexists'
x['_id'] = 98989898989
x['id'] = 344020 
df_z = df_z.append(x,ignore_index=True)

In [291]:
df_z.ix[df_z['name'] == 'Denny - Blaine', 'name'] = 'Denny-Blaine'
df_z.ix[df_z['name'] == 'Central', 'name'] = 'Central District'
df_z.ix[df_z['name'] == 'Mt. Baker', 'name'] = 'Mount Baker'

In [292]:
df_z = df_z.drop(df_z['name'].isin(['Junction','Seaview','Mt. Baker','East Queen Anne','West Queen Anne', 'North Queen Anne']), axis = 0)

107

['East Queen Anne','West Queen Anne', 'North Queen Anne'] => avg becomes Queen Anne
Denny - Blaine => Denny-Blaine
Central => Central District
Mt. Baker => Mount Baker
Seaview => West Seattle

In [307]:
df_t = df_z.merge(df_g, on = 'name', how = 'right')
df_t = df_t.drop('_id', axis = 1)

In [313]:
db = client['hood_app']
collection = db['demographics']
collection.insert(df_t.to_dict())

InvalidDocument: documents must have only string keys, key was 0

In [316]:
df_t.to_csv('demographics_final.csv', index = False)

Seattle.json                  walkscore_class.py
demographics_final.csv        walkscore_class.pyc
greatschools_class.py         yelp_class.py
greatschools_class.pyc        yelp_class_keyword.py
school_data.csv               yelp_class_keyword.pyc
schools featurs.ipynb         yelp_json.json
scrape_yelp.py                zillow_demographics_class.py
socrata_class.py              zillow_neighborhood_class.py

In [300]:
df_z.ix[df_z['name'] == 'Alki',['id','name']]

        id  name
28  343997  Alki

In [299]:
df_g.ix[df_g['id'] == 344058, :]

    name      id
76  Alki  344058

,Affordability Data: 1-Yr Change,Affordability Data: Foreclosures,Affordability Data: Homes For Sale,Affordability Data: Homes For Sale By Owner,Affordability Data: Homes Recently Sold,Affordability Data: Median 2-Bedroom Home Value,Affordability Data: Median 3-Bedroom Home Value,Affordability Data: Median 4-Bedroom Home Value,Affordability Data: Median Condo Value,Affordability Data: Median List Price,...,_id,city,id_x,latitude,longitude,name,state,url,zindex,id_y
0,0.163000,NaN,0,NaN,0,451200.000000,611700.000000,732000.000000,392800.000000,0,...,5600638289a44ed0142ba888,Seattle,272001,47.660897,-122.305045,University District,Washington,http://www.zillow.com/local-info/WA-Seattle/Un...,514200.000000,272001
1,0.073000,NaN,0,NaN,0,544300.000000,727500.000000,919400.000000,356000.000000,0,...,5600638289a44ed0142ba889,Seattle,271990,47.650943,-122.409136,Magnolia,Washington,http://www.zillow.com/local-info/WA-Seattle/Ma...,662000.000000,271990
2,0.095000,NaN,0,NaN,0,406800.000000,490000.000000,579900.000000,295500.000000,0,...,5600638289a44ed0142ba88a,Seattle,250788,47.694211,-122.355281,Greenwood,Washington,http://www.zillow.com/local-info/WA-Seattle/Gr...,421400.000000,250788
3,0.105000,NaN,0,NaN,0,571500.000000,699800.000000,775100.000000,418600.000000,0,...,5600638289a44ed0142ba88b,Seattle,252248,47.658763,-122.334464,Wallingford,Washington,http://www.zillow.com/local-info/WA-Seattle/Wa...,608500.000000,252248
4,0.106000,NaN,0,NaN,0,326300.000000,393800.000000,438300.000000,367200.000000,0,...,5600638289a44ed0142ba88c,Seattle,250050,47.556114,-122.302828,Beacon Hill,Washington,http://www.zillow.com/local-info/WA-Seattle/Be...,361900.000000,250050
5,0.143000,NaN,0,NaN,0,490600.000000,626500.000000,707300.000000,440000.000000,0,...,5600638289a44ed0142ba88d,Seattle,250692,47.656187,-122.352184,Fremont,Washington,http://www.zillow.com/local-info/WA-Seattle/Fr...,505400.000000,250692
6,0.141000,NaN,0,NaN,0,524400.000000,652400.000000,744100.000000,426800.000000,0,...,5600638289a44ed0142ba88e,Seattle,251709,47.675777,-122.301115,Ravenna,Washington,http://www.zillow.com/local-info/WA-Seattle/Ra...,573300.000000,251709
7,0.090000,NaN,0,NaN,0,447800.000000,554900.000000,663600.000000,315000.000000,0,...,5600638289a44ed0142ba890,Seattle,271869,47.608190,-122.323829,First Hill,Washington,http://www.zillow.com/local-info/WA-Seattle/Fi...,296000.000000,271869
8,0.121000,NaN,0,NaN,0,481000.000000,602000.000000,693000.000000,327400.000000,0,...,5600638289a44ed0142ba891,Seattle,344019,47.581725,-122.387362,Admiral,Washington,http://www.zillow.com/local-info/WA-Seattle/Ad...,530100.000000,344019
9,0.100000,NaN,0,NaN,0,428600.000000,540300.000000,597900.000000,243100.000000,0,...,5600638289a44ed0142ba892,Seattle,344000,47.695035,-122.316628,Maple Leaf,Washington,http://www.zillow.com/local-info/WA-Seattle/Ma...,468500.000000,344000
10,0.039000,NaN,0,NaN,0,580700.000000,554900.000000,663600.000000,384000.000000,0,...,5600638289a44ed0142ba894,Seattle,271808,47.614592,-122.348464,Belltown,Washington,http://www.zillow.com/local-info/WA-Seattle/Be...,376700.000000,271808
11,0.118000,NaN,0,NaN,0,556400.000000,676700.000000,757200.000000,380700.000000,0,...,5600638289a44ed0142ba895,Seattle,271961,47.672704,-122.355277,Phinney Ridge,Washington,http://www.zillow.com/local-info/WA-Seattle/Ph...,586600.000000,271961
12,0.100000,NaN,0,NaN,0,537500.000000,654300.000000,752100.000000,448800.000000,0,...,5600638289a44ed0142ba896,Seattle,250780,47.679959,-122.333709,Green Lake,Washington,http://www.zillow.com/local-info/WA-Seattle/Gr...,573500.000000,250780
13,0.100000,NaN,0,NaN,0,337300.000000,408100.000000,485400.000000,291500.000000,0,...,5600638289a44ed0142ba897,Seattle,250801,47.719604,-122.334753,Haller Lake,Washington,http://www.zillow.com/local-info/WA-Seattle/Ha...,368700.000000,250801
14,0.090000,NaN,0,NaN,0,421600.000000,541600.000000,657400.000000,298600.000000,0,...,5600638289a44ed0142ba898,Seattle,271819,47.719649,-122.368414,Broadview,Washington,http://www.zillow.com/local-info/WA-Seattle/Br...,518100.000000,271819
15,0.090000,NaN,0,NaN,0,342300.000000,414000.000000,470700.000000,193300.000000,0,...,5600638289a44ed0142ba899,Seattle,271814,47.719625,-122.350120,Bitter Lake,Washington,http://www.zillow.com/local-info/WA-Seattle/Bi...,363500.000000,271814
16,0.091000,NaN,0,NaN,0,328900.000000,403900.000000,454400.000000,296700.000000,0,...,5600638289a44ed0142ba89a,Seattle,271957,47.726604,-122.302454,Olympic Hills,Washington,http://www.zillow.com/local-info/WA-Seattle/Ol...,365200.000000,271957
17,0.147000,NaN,0,NaN,0,470000.000000,580700.000000,651200.000000,241600.000000,0,...,5600638289a44ed0142ba89b,Seattle,344001,47.690136,-122.293779,Wedgwood,Washington,http://www.zillow.com/local-info/WA-Seattle/We...,523700.000000,344001
18,0.125000,NaN,0,NaN,0,501300.000000,599400.000000,642700.000000,422600.000000,0,...,5600638289a44ed0142ba89c,Seattle,251170,47.683235,-122.384852,Loyal Heights,Washington,http://www.zillow.com/local-info/WA-Seattle/Lo...,522500.000000,251170
19,0.102000,NaN,0,NaN,0,446200.000000,534000.000000,663600.000000,369300.000000,0,...,5600638289a44ed0142ba89f,Seattle,250017,47.668328,-122.384536,Ballard,Washington,http://www.zillow.com/local-info/WA-Seattle/Ba...,397200.000000,250017
20,0.137000,NaN,0,NaN,0,366800.000000,440300.000000,480800.000000,394700.000000,0,...,5600638289a44ed0142ba8a0,Seattle,271839,47.564800,-122.286003,Columbia City,Washington,http://www.zillow.com/local-info/WA-Seattle/Co...,379000.000000,344055
21,0.111000,NaN,0,NaN,0,536200.000000,710800.000000,833400.000000,497100.000000,0,...,5600638289a44ed0142ba8a1,Seattle,343997,47.576466,-122.398842,Alki,Washington,http://www.zillow.com/local-info/WA-Seattle/Al...,568600.000000,344058
22,0.116000,NaN,0,NaN,0,297300.000000,344700.000000,387000.000000,297600.000000,0,...,5600638289a44ed0142ba8a2,Seattle,250146,47.538786,-122.275961,Brighton,Washington,http://www.zillow.com/local-info/WA-Seattle/Br...,324700.000000,250146
23,0.082000,NaN,0,NaN,0,1006000.000000,554900.000000,663600.000000,600700.000000,0,...,5600638289a44ed0142ba8a3,Seattle,271849,47.607346,-122.335089,Downtown,Washington,http://www.zillow.com/local-info/WA-Seattle/Do...,563000.000000,271849
24,0.095000,NaN,0,NaN,0,356600.000000,436600.000000,549300.000000,370500.000000,0,...,5600638289a44ed0142ba8a5,Seattle,343999,47.699483,-122.336865,North College Park,Washington,http://www.zillow.com/local-info/WA-Seattle/No...,388200.000000,343999
25,0.112000,NaN,0,NaN,0,335400.000000,370400.000000,406800.000000,332900.000000,0,...,5600638289a44ed0142ba8a6,Seattle,344033,47.543744,-122.368502,High Point,Washington,http://www.zillow.com/local-info/WA-Seattle/Hi...,322800.000000,344033
26,0.148000,NaN,0,NaN,0,276600.000000,323800.000000,367700.000000,367200.000000,0,...,5600638289a44ed0142ba8a7,Seattle,251704,47.511649,-122.257974,Rainier Beach,Washington,http://www.zillow.com/local-info/WA-Seattle/Ra...,296000.000000,251704
27,0.119000,NaN,0,NaN,0,266900.000000,323800.000000,364000.000000,367200.000000,0,...,5600638289a44ed0142ba8a8,Seattle,344029,47.527126,-122.341404,Highland Park,Washington,http://www.zillow.com/local-info/WA-Seattle/Hi...,287200.000000,344029
28,0.083000,NaN,0,NaN,0,591400.000000,668900.000000,763500.000000,367200.000000,0,...,5600638289a44ed0142ba8a9,Seattle,252056,47.677581,-122.401052,Sunset Hill,Washington,http://www.zillow.com/local-info/WA-Seattle/Su...,612800.000000,252056
29,0.075000,NaN,0,NaN,0,433800.000000,543600.000000,646800.000000,367200.000000,0,...,5600638289a44ed0142ba8aa,Seattle,271913,47.703815,-122.279031,Matthews Beach,Washington,http://www.zillow.com/local-info/WA-Seattle/Ma...,556700.000000,271913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,0.045000,NaN,0,NaN,0,506200.000000,679800.000000,735000.000000,367200.000000,0,...,5600638289a44ed0142ba8c6,Seattle,344028,47.581626,-122.289299,Mount Baker,Washington,http://www.zillow.com/local-info/WA-Seattle/Mt...,665200.000000,344028
49,0.116000,NaN,0,NaN,0,446100.000000,583600.000000,663600.000000,505100.000000,0,...,5600638289a44ed0142ba8c8,Seattle,344013,47.615917,-122.306364,Central District,Washington,http://www.zillow.com/local-info/WA-Seattle/Ce...,477500.000000,344013
50,0.092000,NaN,0,NaN,0,476400.000000,654800.000000,793600.000000,465300.000000,0,...,5600638289a44ed0142ba8c9,Seattle,344012,47.626805,-122.294018,Madison Valley,Washington,http://www.zillow.com/local-info/WA-Seattle/Ma...,571800.000000,344012
51,0.089000,NaN,0,NaN,0,553500.000000,747400.000000,871600.000000,367200.000000,0,...,5600638289a44ed0142ba8ca,Seattle,251187,47.612690,-122.288998,Madrona,Washington,http://www.zillow.com/local-info/WA-Seattle/Ma...,695800.000000,251187
52,0.157000,NaN,0,NaN,0,247800.000000,288300.000000,320000.000000,367200.000000,0,...,5600638289a44ed0142ba8cb,Seattle,251971,47.529860,-122.321972,South Park,Washington,http://www.zillow.com/local-info/WA-Seattle/So...,253300.000000,251971
53,0.108000,NaN,0,NaN,0,324700.000000,401200.000000,458300.000000,314200.000000,0,...,5600638289a44ed0142ba8cc,Seattle,344032,47.562584,-122.363922,North Delridge,Washington,http://www.zillow.com/local-info/WA-Seattle/No...,325500.000000,344056
54,0.101000,NaN,0,NaN,0,372000.000000,468900.000000,568100.000000,210200.000000,0,...,5600638289a44ed0142ba8cd,Seattle,271915,47.706500,-122.298032,Meadowbrook,Washington,http://www.zillow.com/local-info/WA-Seattle/Me...,439700.000000,271915
55,0.087000,NaN,0,NaN,0,291700.000000,344100.000000,396600.000000,367200.000000,0,...,5600638289a44ed0142ba8d0,Seattle,344034,47.546367,-122.352740,Riverview,Washington,http://www.zillow.com/local-info/WA-Seattle/Ri...,325300.000000,344034
56,0.082000,NaN,0,NaN,0,440400.000000,610100.000000,735800.000000,367200.000000,0,...,5600638289a44ed0142ba8d1,Seattle,271977,47.547011,-122.259808,Seward Park,Washington,http://www.zillow.com/local-info/WA-Seattle/Se...,590400.000000,271977
57,0.093000,NaN,0,NaN,0,680300.000000,901700.000000,992300.000000,367200.000000,0,...,5600638289a44ed0142ba8d2,Seattle,271923,47.640870,-122.308456,Montlake,Washington,http://www.zillow.com/local-info/WA-Seattle/Mo...,829800.000000,271923
58,0.151000,NaN,0,NaN,0,252100.000000,554900.000000,663600.000000,216800.000000,0,...,5600638289a44ed0142ba8d3,Seattle,343998,47.707712,-122.321105,Northgate,Washington,http://www.zillow.com/local-info/WA-Seattle/No...,234300.000000,343998
59,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,144900,...,5600638289a44ed0142ba8d6,Seattle,271893,47.596945,-122.324714,International District,Washington,http://www.zillow.com/local-info/WA-Seattle/In...,NaN,271893
60,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,0,...,5600638289a44ed0142ba8de,Seattle,271987,47.622162,-122.342370,South Lake Union,Washington,http://www.zillow.com/local-info/WA-Seattle/So...,NaN,271987
61,0.076000,NaN,0,NaN,0,416600.000000,465300.000000,576800.000000,367200.000000,0,...,5600638289a44ed0142ba8d9,Seattle,250383,47.696053,-122.371382,Crown Hill,Washington,http://www.zillow.com/local-info/WA-Seattle/Cr...,422100.000000,250383
62,0.076000,NaN,0,NaN,0,549000.000000,660200.000000,774400.000000,367200.000000,0,...,5600638289a44ed0142ba8db,Seattle,344009,47.696701,-122.397188,North Beach,Washington,http://www.zillow.com/local-info/WA-Seattle/No...,635800.000000,344009
63,0.114000,NaN,0,NaN,0,546300.000000,892400.000000,1409200.000000,367200.000000,0,...,5600638289a44ed0142ba8dc,Seattle,272026,47.670199,-122.262975,Windermere,Washington,http://www.zillow.com/local-info/WA-Seattle/Wi...,967300.000000,272026
64,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,397800,...,5600638289a44ed0142ba8dd,Seattle,271892,47.566395,-122.347363,Industrial District,Washington,http://www.zillow.com/local-info/WA-Seattle/In...,NaN,271892
65,0.125000,NaN,0,NaN,0,490000.000000,734700.000000,878200.000000,367200.000000,0,...,5600638289a44ed0142ba8df,Seattle,344005,47.696054,-122.382179,Olympic Manor,Washington,http://www.zillow.com/local-info/WA-Seattle/Ol...,667800.000000,344005
66,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,249000,...,5600638289a44ed0142ba8e2,Seattle,250714,47.540345,-122.316845,Georgetown,Washington,http://www.zillow.com/local-info/WA-Seattle/Ge...,NaN,250714
67,0.079000,NaN,0,NaN,0,458500.000000,653300.000000,954000.000000,367200.000000,0,...,5600638289a44ed0142ba8e3,Seattle,344006,47.705359,-122.377348,Blue Ridge,Washington,http://www.zillow.com/local-info/WA-Seattle/Bl...,644100.000000,344006
68,0.109000,NaN,0,NaN,0,439400.000000,900700.000000,1015900.000000,421800.000000,0,...,5600638289a44ed0142ba8e5,Seattle,271964,47.647441,-122.318551,Portage Bay,Washington,http://www.zillow.com/local-info/WA-Seattle/Po...,778300.000000,271964
69,0.121000,NaN,0,NaN,0,553900.000000,763600.000000,924300.000000,367200.000000,575000,...,5600638289a44ed0142ba8e7,Seattle,344004,47.671893,-122.271548,Hawthorne Hills,Washington,http://www.zillow.com/local-info/WA-Seattle/Ha...,704300.000000,344004
70,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,2075000,...,5600638289a44ed0142ba8e8,Seattle,250149,47.637395,-122.290642,Broadmoor,Washington,http://www.zillow.com/local-info/WA-Seattle/Br...,NaN,250149
71,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,0,...,5600638289a44ed0142ba8ea,Seattle,271975,47.681855,-122.256440,Sand Point,Washington,http://www.zillow.com/local-info/WA-Seattle/Sa...,NaN,271975
72,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,659900,...,5600638289a44ed0142ba8ed,Seattle,271804,47.583337,-122.301715,Atlantic,Washington,http://www.zillow.com/local-info/WA-Seattle/At...,NaN,271804
73,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,345000,...,5600638289a44ed0142ba8ee,Seattle,271963,47.597829,-122.332927,Pioneer Square,Washington,http://www.zillow.com/local-info/WA-Seattle/Pi...,NaN,271963
74,0.108000,NaN,0,NaN,0,439400.000000,554900.000000,663600.000000,367200.000000,1850000,...,5600638289a44ed0142ba8ef,Seattle,344011,47.617122,-122.284957,Denny-Blaine,Washington,http://www.zillow.com/local-info/WA-Seattle/De...,NaN,344011
75,0.062667,NaN,0,NaN,0,555933.333333,834633.333333,1016666.666667,380666.666667,0,...,99999999999,Seattle,271942,47.640111,-122.359869,Queen Anne,Washington,notexists,676133.333333,271942
76,0.117500,NaN,0,NaN,0,440050.000000,563800.000000,646650.000000,338600.000000,0,...,98989898989,Seattle,344020,47.557779,-122.390489,West Seattle,Washington,notexists,464500.000000,344020
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Capitol Hill,NaN,NaN,NaN,250206